<a href="https://colab.research.google.com/github/njorogeinc/data_science/blob/main/fakenews.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
file = "/content/drive/MyDrive/data/Fake.csv.zip"
from zipfile import ZipFile
with ZipFile(file, 'r') as zip:
  zip.printdir()
  print("Extracting file")
  zip.extractall()

File Name                                             Modified             Size
Fake.csv                                       2020-03-26 18:51:22     62789876
Extracting file

In [ ]:
import pandas as pd
df = pd.read_csv("/content/Fake.csv")
df.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [ ]:
df.columns

Index(['title', 'text', 'subject', 'date'], dtype='object')

In [ ]:
df.describe()

,title,text,subject,date
count,23481,23481,23481,23481
unique,17903,17455,6,1681
top,MEDIA IGNORES Time That Bill Clinton FIRED His...,,News,"May 10, 2017"
freq,6,626,9050,46

In [ ]:
df.shape

(23481, 4)

In [ ]:
df.isnull().sum()

title      0
text       0
subject    0
date       0
dtype: int64

In [ ]:
import numpy as np
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [ ]:
df.subject.unique()

array(['News', 'politics', 'Government News', 'left-news', 'US_News',
       'Middle-east'], dtype=object)

In [ ]:
df.title.unique()

array([' Donald Trump Sends Out Embarrassing New Year’s Eve Message; This is Disturbing',
       ' Drunk Bragging Trump Staffer Started Russian Collusion Investigation',
       ' Sheriff David Clarke Becomes An Internet Joke For Threatening To Poke People ‘In The Eye’',
       ...,
       'BOILER ROOM – No Surrender, No Retreat, Heads Will Roll  – EP #38',
       'Federal Showdown Looms in Oregon After BLM Abuse of Local Ranching Family – Bundys Lead Protest',
       'A Troubled King: Chicago’s Rahm Emanuel Desperate to Save His 2020 Presidential Run'],
      dtype=object)

In [ ]:
df = df['content'] = df['subject'] +df['title']
#print(df['content'])
df.head()

0        News Donald Trump Sends Out Embarrassing New Y...
1        News Drunk Bragging Trump Staffer Started Russ...
2        News Sheriff David Clarke Becomes An Internet ...
3        News Trump Is So Obsessed He Even Has Obama’s ...
4        News Pope Francis Just Called Out Donald Trump...
                               ...
23476    Middle-eastMcPain: John McCain Furious That Ir...
23477    Middle-eastJUSTICE? Yahoo Settles E-mail Priva...
23478    Middle-eastSunnistan: US and Allied ‘Safe Zone...
23479    Middle-eastHow to Blow $700 Million: Al Jazeer...
23480    Middle-east10 U.S. Navy Sailors Held by Irania...
Name: content, Length: 23481, dtype: object

In [ ]:
 #df['label'] = lambda x : x = np.random.randint(0,1) #for i in range(df.shape[0])

In [ ]:
df = df['content'] = df['subject'] +df['title']
df.head()

0    News Donald Trump Sends Out Embarrassing New Y...
1    News Drunk Bragging Trump Staffer Started Russ...
2    News Sheriff David Clarke Becomes An Internet ...
3    News Trump Is So Obsessed He Even Has Obama’s ...
4    News Pope Francis Just Called Out Donald Trump...
dtype: object

In [ ]:
len(df['content'])

23482

In [ ]:
import itertools
df['content'].apply(lambda x: len(x.str.split()))

AttributeError: ignored